.DS_Store
.externalNativeBuild
.cxx
/app/src/main/jniLibs/
/app/src/main/kotlin/
*.apk
*.ap_
*.aab

**/build/
build/

.gradle/

**/jniLibs/**/*.so
**/merged_native_libs/**
**/merged_jni_libs/**
**/stripped_native_libs/**

**/out/
**/debug/
**/release/

local.properties

*.iml
.idea/
.navigation/
captures/

**/classes.dex
**/classes.jar
